* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
}
header {
  background-color: #222;
  height: 100px;
}
#header-container {
  max-width: 1140px;

  margin: auto;
  color: #fff;
  display: flex;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  font-size: 22px;
}
.menu {
  flex: 1;
}
.menu ul {
  display: flex;
  justify-content: flex-end;
}
.menu a {
  display: flex;
  align-items: center;
  margin: 0 20px 0;
  height: 100px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@keyframes showBorderBottom {
  from {
    width: 0;
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    width: 65px;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.menu a::after {
  position: absolute;
  content: "";
  width: 65px;
  height: 4px;
  margin-top: 95px;
  display: none;
  background-color: #42dd1f;
}
.menu a:hover::after,
.menu a.active::after {
  display: block;
  animation: showBorderBottom 0.3s forwards;
}
#banner {
  height: 350px;
}
.banner-body {
  max-width: 1140px;
  height: inherit;
  margin: auto;
  overflow: hidden;
}
.banner-body .sliders {
  width: 1000vw;
  height: inherit;
  display: flex;
}
.banner-body .slider {
  width: 100vw;
  height: inherit;
}
.slider-area {
  width: 100vw;
  max-width: 1140px;
  height: inherit;
}
.slider-area h1 {
  text-align: center;
  font-size: 3rem;

  padding-top: 8px;
}
.slider-area p {
  padding: 10px;
  font-weight: normal;
  text-align: center;
  font-size: 1.3rem;
}

.area-pointers {
  position: absolute;
  width: 100vw;
  height: 20px;
  max-width: 1140px;
  margin-top: -40px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.area-pointers .pointer {
  width: 15px;
  height: 15px;
  border-radius: 13px;
  border: 2px solid #222;
  cursor: pointer;
}
.area-pointers .pointer.active {
  background-color: #42dd1f;
}
@keyframes sectionShow {
  from {
    margin-left: -1000px;
  }
  to {
    margin-right: 0;
  }
}
.section-show.active {
  margin-left: 0;
  animation: sectionShow 1s forwards;
}
.section-contato {
  margin: auto;
  display: flex;
  justify-content: center;
}
.contato-container {
  width: 100vw;
  max-width: 1140px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-wrap: wrap;
}
.section-box {
  padding-top: 30px;
  padding-bottom: 5px;
  width: 350px;
  height: 300px;
  border: 3px solid #42dd1f;
  margin: 10px;
  background-color: #fafafa;
}
@keyframes showH2 {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.section-box h2 {
  color: #222;
  text-align: center;
  font-size: 30px;
  display: none;
}

.box-content {
  height: calc(100% - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-box {
  height: 200px;
}
.photo-box img {
  width: 200px;
  display: none;
}
.photo-box img.active {
  display: block;
  animation: showH2 1.2s forwards;
}
.section-box h2.active {
  display: block;
  animation: showH2 0.8s forwards;
}
@media (max-width: 450px) {
  .section-box {
    width: 285px;
  }
}
